/Fronk_directory/Java_directory/javaAplikaciaTestGitPrazdna/nbproject/private/
/Fronk_directory/Java_directory/javaAplikaciaTestGitPrazdna/build/
/Fronk_directory/Java_directory/javaAplikaciaTestGitPrazdna/dist/